// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {  }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
}


// IMPORTS
@import 'header.scss';
@import 'body.scss';




html, body {
	font-family: 'Roboto Slab',serif;
	overflow: scroll;
	height: 5000px;
	width: auto;

}

#bootstrap-override .padding-zero {
	padding: 0px;
}

h3 {
	margin: 0px;
}

.large {
	
	top: 350px;
	position: absolute;
	overflow: scroll;
	height: 2000px;
	width: 800px;
	}

.border{
	border: 1px solid black;	
}

.center-content-h {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%); 
}


.center-content-v {
  display: inline-block;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%); 
}

.fixed-top{
	top: initial;
	left: initial;
	right: initial;
}


.heading-med {
	font-weight: 900; 	
	font-size: 14px;
}

.padding-none {
	padding: 0px;
}

.spacer {
	width: 100%; 
	height: 3000px; 
	float:left; 
	display:inline-block;
	top: 0px; 
	left: 0x;
	position: absolute;
}


