

.navbar-body {
	background-color: white;
	padding: 0px;
	border-left: 1px solid black;
	width: auto;
}

.body-container {	
	top: 250px;
	position: relative;
	//overflow: scroll;
	

	p {
		font-size: 10px;
	}
}
