

#navbar-fixed-top-override {
	 top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 0px;
    padding-bottom: 30px;
    background-color: white;
}

.header {
	border-bottom: 1px solid black; 
	padding-bottom: 15px;
	padding-top: 15px;
	background-color: white;
	clear: both;



	.top {
		margin-botton: 50px;
	}
	.bottom-bar {
		  float: none;
	   	position: absolute;
	   	bottom: 0px;
	
	   	
	}

	.fa {
		vertical-align: bottom;
	}

	#title {
		font-size: 16px;
		font-weight: 800;
	}


	.highlight {
		color: #8c0827;
	}

	.icon-caption {
		font-size: 11px;
		color: #635f5f;
		margin-left: 3px;
		margin-right: 20px;
	}

	p{
		margin-bottom: 8px;
		font-size: 12px;
		display: inline-block;
		width: auto;
	}

	.desc-text {
	    font-size: 12px;
	}

	.info-container {
		width: auto;
		display: inline-block;
	}


	.img-container{
		margin-bottom: 20px;
		float: right;
		padding: 0px;
	}

	.img-cir { 
	  height: 160px;
	  width: auto;
	  display: block;
	  opacity: 0.9;
	
	}

}

#body-navbar {
	background-color: white;
	border-left: 1px solid black;
	padding: 4px;

	#body-navbar-ul a {
		font-size: 12px;
		
	}

	#body-navbar-ul li {
		padding-left: 5px;
		padding-right: 5px;
	}
}

.shrink { 
   height: 50px;
}

.removable-sec {
	
}